<section class="section-container">
  <div class="form-container-forgot">
    <div>
      <h2 class="forgot-title">Forgot your Password?</h2>
      <div class="h-[1.9338rem] ml-80"></div>

      @if (step == 1) {


      <form [formGroup]="verifyEmail"
      class="form"
      (ngSubmit)="verifyEmailSubmit()">

        <div class="input">
          <input formControlName="email"
          type="email" placeholder="Enter Email" class="input-field">
        </div>


        <div class="mb-4 text-right">
          <a routerLink="/auth/verify" class="recover">Recover Password ?</a>
        </div>


        <button [disabled]="verifyEmail.invalid"
          type="submit" class="sign-in-btn">
          <span class="sign-in-text">Verify Email</span>
        </button>

        <div class="separator-container">
          <div class="separator-line"></div>
          <span class="separator-text">Or Continue with</span>
          <div class="separator-line"></div>
        </div>
        <ul class="social-icons">
          <li class="icon"> <img src="images/media/google.png" alt="google icon"> </li>
          <li class="icon"> <img src="images/media/twitter.png" alt="twitter icon"> </li>
          <li class="icon"> <img src="images/media/facebook.png" alt="facebook icon"> </li>
          <li class="icon"> <img src="images/media/apple.png" alt="apple icon"> </li>
        </ul>
      </form>
    }


  @else if ( step == 2) {
    <form [formGroup]="verifyCode" class="form"
    (ngSubmit)="verifyCodeSubmit()">
    <div class="input">
      <input formControlName="resetCode"
      type="text" class="input-field">
    </div>
    <button [disabled]="verifyCode.invalid"
      type="submit" class="sign-in-btn">
      <span class="sign-in-text">Verify code</span>
    </button>
    </form>
    }


    @else if ( step == 3) {
      <form [formGroup]="resetPassword" class="form"
      (ngSubmit)="resetPasswordSubmit()">


        <h2 class="setpassword-title">Set a password</h2>
        <div class="h-[1.9338rem] ml-80"></div>

          <div class="password">
            <input formControlName="password"
            type="password" placeholder="Create Password" class="input-field">
            <i class="password-icon fas fa-eye"></i>
          </div>
          <div class="password">
            <input formControlName="newPassword" type="password" placeholder="Re-enter Password" class="input-field">
            <i class="password-icon fas fa-eye"></i>
          </div>
          <button type="submit" class="sign-in-btn"
            routerLink="/auth">
            <span class="sign-in-text">Sign in</span>
          </button>
        </form>
      }
  </div>
  </div>
</section>










