<section class="section-container">
  <div class="form-container-verify">
    <div>
      <h2 class="verify-title">Verify code</h2>
      <div class="h-[1.9338rem] ml-80"></div>
      <form class="form">
        <div class="input">
          <input type="number" placeholder="Enter code" class="input-field">
        </div>
        <div class="mb-4 text-right">
          Didn't receive a code?
          <a routerLink="/auth/setPassword" class="resend">Recend</a>
        </div>
        <button type="submit" class="verify-btn">
          <span class="verify-text">Verify</span>
        </button>
        <div class="separator-container">
          <div class="separator-line"></div>
          <span class="separator-text">Or Continue with</span>
          <div class="separator-line"></div>
        </div>
        <ul class="social-icons">
          <li class="icon"> <img src="images/media/google.png" alt="google icon"> </li>
          <li class="icon"> <img src="images/media/twitter.png" alt="twitter icon"> </li>
          <li class="icon"> <img src="images/media/facebook.png" alt="facebook icon"> </li>
          <li class="icon"> <img src="images/media/apple.png" alt="apple icon"> </li>
        </ul>
      </form>
    </div>
  </div>
</section>
